html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
}

body{
    background-color: #0e1318;
    color: #ffffff;
    font-family: 'Barlow', sans-serif;
}

a{
    color: #ee1f67;
}
a:hover{
    color: #19b5b8;
}

li{
    padding: 10px;
}

.nav{
    width: 100%;
    padding: 15px;
    display: flex;
    line-height: 1;
    align-items: center;
    color: #ffffff;
    justify-content: space-around;
}

.hamburger {
    font-size: 20px;
    color: #fff;
}

.main{
    position: relative;
    top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.greeting{
    position: relative;
    top: 100px;
    font-family: 'Press Start 2P', cursive;
    color: #ee1f67;
    text-shadow: -1px 0 #f7b71d, 0 1px #f7b71d, 1px 0 #f7b71d, 0 -1px #f7b71d;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn{
    background-color: #19b5b8;
}

/* 
#0e1318
#ee1f67 
#f7b71d
#19b5b8
*/