<div class="container">
  <div class="header">
     <a href="/members"></a><h2 class="hTitle">Arcadia</h2></a>
    <div class="hNav">
      <a href="/members"><i class="fa fa-home fa-lg" aria-hidden="true" alt="home icon"></i></a>
      <a href="/profile"><i class="fa fa-user fa-lg" aria-hidden="true" alt="user icon, check profile"></i></a>
      <a href="/paperb-scores"><i class="fa fa-trophy fa-lg" aria-hidden="true" alt="trophy icon, check high scores"></i></a>
      <a href="/logout"><i class="fa fa-sign-out fa-lg" aria-hidden="true" alt="logout icon, sign out of Arcadia"></i></a>
    </div>
  </div>


{{!-- <div class="row game2Header"><h2 class="row">Welcome to Paper Bryan: To The Moon!<h2></h2></div> --}}
<div class="row" id="game2" style="width: 640; height:480"></div>

  <div class="footer">
      <div class="fNav">
      <a href="/members"><i class="fa fa-home fa-lg" aria-hidden="true" alt="home icon"></i></a>
      <a href="/profile"><i class="fa fa-user fa-lg" aria-hidden="true" alt="user icon, check profile"></i></a>
      <a href="/paperb-scores"><i class="fa fa-star fa-lg" aria-hidden="true" alt="trophy icon, check high scores"></i></a>
      <a href="/logout"><i class="fa fa-sign-out fa-lg" aria-hidden="true" alt="logout icon, sign out of Arcadia"></i></a>
    </div>
  </div>
</div>
<script type="module" src="/js/src/game.js"></script>