
<div class="nav row">
    <div class="col-6">
            <a href="/profile"><button id="profBtn" class="btn btn-dark">Update your Profile</button></a>   
    </div>
    <div class="col-2">
            <a href="/highscores"><button id="scoreBtn" class="btn btn-dark">High Scores</button></a>
    </div>
    <br></br>
</div>
<div id="game2"></div>
<script type="module" src="/js/src/game.js"></script>