<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Grogu Quest High Scores</h2>
      </div>
    </div>
  </div>
   <div class="container">
     <div class= "row">
        <div>
                        <ul>
                        {{#each scores}}
                        {{!-- <li>score:</li> --}}
                        {{> scores/machOneScore-block }}
                        {{/each}}
                        </ul>
        </div>
     </div>
  </div>
   <br></br>
  <a href="/profile"><button id="profBtn" class="btn btn-dark">Update your Profile</button></a>
   <br></br>
  <a href="/grogu-quest"><button id="gameBtn" class="btn btn-dark">Play Grogu Quest</button></a>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{{!-- <script type="text/javascript" src="/js/highscore.js"></script> --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>

let images = $(".profImage")
console.log(images)

for (let i = 0; i < images.length; i++){
  console.log(images[i].id)

$.get(`/api/photo/${images[i].id}`).then(function(data){
  if (data.length === 0) {
    $(`#${images[i].id}`).attr("src", `/assets/hero1.png`);
  }else {
    let img = data[0].name
    $(`#${images[i].id}`).attr("src", `/assets/tmp/${img}`)
  }
})



}

</script>