<div class="container">
  <div class="header">
    <h2 class="hTitle">Arcadia</h2>
    <div class="hNav">
      <a href="/"><i class="fa fa-home fa-lg" aria-hidden="true" alt="home icon"></i></a>
      <a href="/profile"><i class="fa fa-user fa-lg" aria-hidden="true" alt="user icon, check profile"></i></a>
      <a href="/game"><i class="fa fa-gamepad fa-lg" aria-hidden="true" alt="game icon, play a game"></i></a>
      <a href="/highscore"><i class="fa fa-trophy fa-lg" aria-hidden="true" alt="trophy icon, check high scores"></i></a>
    </div>
  </div>

   <div class="modal" style="display:block">
      <div class="scores">
        <h2 class="welcomeUser">Paper Bryan: To The Moon</h2>
      </div>
      <div class="dashBody">
        <div class="options">
            {{#each scores}}
              {{> scores/machTwoScore-block }}
            {{/each}}
        </div>
      </div>
  </div>

  <div class="footer">
      <div class="fNav">
        <a href="/"><i class="fa fa-home fa-lg" aria-hidden="true" alt="home icon"></i></a>
        <a href="/profile"><i class="fa fa-user fa-lg" aria-hidden="true" alt="user icon, check profile"></i></a>
        <a href="/paperb-moon"><i class="fa fa-gamepad fa-lg" aria-hidden="true" alt="game icon, play a game"></i></a>
        <a href="/highscore"><i class="fa fa-trophy fa-lg" aria-hidden="true" alt="trophy icon, check high scores"></i></a>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{{!-- <script type="text/javascript" src="/js/highscore.js"></script> --}}

<script>
  let images = $(".profImage")

  for (let i = 0; i < images.length; i++){

  $.get(`/api/photo/${images[i].id}`).then(function(data){
    if (data.length === 0) {
      $(`#${images[i].id}`).attr("src", `/assets/hero1.png`);
    }else {
      let img = data[0].name
      images[i].attributes[2].value =  `/assets/tmp/${img}`
      {{!-- $(`#${images[i].id}`).attr("src", `/assets/tmp/${img}`) --}}
    }
  })
  }
</script>