<div class="container">
  <div class="header">
     <a href="/members"></a><h2 class="hTitle">Arcadia</h2></a>
    <div class="hNav">
        <a href="/members"><i class="fa fa-home fa-lg" aria-hidden="true" alt="home icon, check home"></i></a>
        <a href="/logout"><i class="fa fa-sign-out fa-lg" aria-hidden="true" alt="logout icon, sign out of Arcadia"></i></a>
    </div>
  </div>


  <div class="modal" style="display:block">
    <div class="modalHeader">
      <img class="icon" id="profileImage" src=""> 
      <h2 class="welcomeUser">Welcome, <span class="member-name"></span>!</h2>
    </div>
    <div class="dashBody">
      <div class="profOptions">
        <button onclick="showElement()" id="profBtn" class="btn btn-dark">Change Username</button>  
          <form id="cms" style="display: none;">
            <div class="form-group">
              <input placeholder="user name" type="text" class="form-control" id="userName">
            </div>
              <button type="submit" class="btn">Submit</button>
          </form>
        <br>
        <button onclick="updatePhoto()" id="profBtn" class="btn btn-dark">Update Photo</button> 
          <form id="photoUpload" style="display: none;" action="/upload" method="POST" enctype="multipart/form-data">
            <div class="form-group"><input type="file" name="file" id="input-files" class="form-control-file border" /></div>
            <div class="preview-images"></div>
            <button type="submit" class="btn">Submit</button>
          </form> 
      </div>
    </div>
  </div>

  <div class="footer">
      <div class="fNav">
        <a href="/members"><i class="fa fa-home fa-lg" aria-hidden="true" alt="home icon, check home"></i></a>
        <a href="/logout"><i class="fa fa-sign-out fa-lg" aria-hidden="true" alt="logout icon, sign out of Arcadia"></i></a>
      </div>
  </div>
</div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/profile.js"></script>

  <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("class", "previewImg2")
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-files").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>

    <script>
      function showElement() {
        //console.log("119")
        const elDiv = document.getElementById("cms")
        if(elDiv.style.display === "none") {
          elDiv.style.display = "block"
          //console.log("123")
        } else {
         elDiv.style.display = "none"
        }
      }

      function updatePhoto() {
        //console.log("119")
        const photoDiv = document.getElementById("photoUpload")
        if(photoDiv.style.display === "none") {
          photoDiv.style.display = "block"
          //console.log("123")
        } else {
         photoDiv.style.display = "none"
        }
      }
    </script>