
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/logout">
        Logout
      </a>
    </div>
  </div>
</nav>
<div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <img src="" class="profImage">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2>Welcome <span class="member-name"></span></h2>
      </div>
    </div>
  </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <form id="cms">
          <div class="form-group">
            <label for="title">User Name:</label>
            <input placeholder="user name" type="text" class="form-control" id="userName">
            </div>
            <br />
            <button type="submit" class="btn btn-success submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  <br></br>
  {{!-- Photo Upload for profile --}}
  <form
      class="mt-4"
      action="/upload"
      method="POST"
      enctype="multipart/form-data">

      <div class="form-group">
              <input
                type="file"
                name="file"
                id="input-files"
                class="form-control-file border"
              />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
      <hr />
      <div class="row">
        <div class="col-sm-12">
          <div class="preview-images"></div>
        </div>
      </div>
    </div>
  <br></br>
  {{!-- <button class="btn btn-dark">Play a Game</button>  --}}
  <a href="/game"><button id="gameBtn" class="btn btn-dark">Play a Game</button></a>
  <br></br>
  <button class="btn btn-dark">View High Scores</button> 



  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<script type="text/javascript" src="/js/profile.js"></script>

  <script>
      $(document).ready(function() {
        let imagesPreview = function(input, placeToInsertImagePreview) {
          if (input.files) {
            let filesAmount = input.files.length;
            for (i = 0; i < filesAmount; i++) {
              let reader = new FileReader();
              reader.onload = function(event) {
                $($.parseHTML("<img>"))
                  .attr("src", event.target.result)
                  .appendTo(placeToInsertImagePreview);
              };
              reader.readAsDataURL(input.files[i]);
            }
          }
        };
        $("#input-files").on("change", function() {
          imagesPreview(this, "div.preview-images");
        });
      });
    </script>
