<div class="container">
  <div class="header">
    <h2 class="hTitle">Arcadia</h2>
    <div class="hNav">
      <a href="/"><i class="fa fa-home fa-lg" aria-hidden="true" alt="home icon"></i></a>
      <a href="/profile"><i class="fa fa-user fa-lg" aria-hidden="true" alt="user icon, check profile"></i></a>
      <a href="/game"><i class="fa fa-gamepad fa-lg" aria-hidden="true" alt="game icon, play a game"></i></a>
      <a href="/highscore"><i class="fa fa-trophy fa-lg" aria-hidden="true" alt="trophy icon, check high scores"></i></a>
    </div>
  </div>

  <div class="modal" style="display:block">
      <span onclick="document.getElementById('id01').style.display='none'" 
      class="close">&times;</span>
      <h2>Signup</h2>
      <form class="signup">
        <div class="form-group">
          <label for="emailInput">Email address</label>
          <input type="email" class="form-control" id="new-email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="new-password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default">Signup</button>
      </form>
      <br>
    </div>
  </div>

  <div id="id02" class="modal">
    <div class="modalBody">
      <span onclick="document.getElementById('id02').style.display='none'" 
      class="close" title="Close Modal">&times;</span>
      <h2>Login</h2>
      <form class="login">
        <div class="form-group">
          <label for="emailInput">Email address</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
      <button type="submit" class="btn btn-default">Login</button>
      </form>
      <br>
    </div>
  </div>
    
  <div class="main">           
    <div class="greeting">
      <h1>Welcome</h1>
      <div>
          <button onclick="document.getElementById('id01').style.display='block'" type="button" class="btn">Signup</button>

          <button onclick="document.getElementById('id02').style.display='block'" type="button" class="btn">Login</button>
      </div>
  </div>

    <div id="parallax">
    </div>
  </div>
  
  <div class="footer">
      <div class="fNav">
        <a href="/"><i class="fa fa-home fa-lg" aria-hidden="true" alt="home icon"></i></a>
        <a href="/profile"><i class="fa fa-user fa-lg" aria-hidden="true" alt="user icon, check profile"></i></a>
        <a href="/game"><i class="fa fa-gamepad fa-lg" aria-hidden="true" alt="game icon, play a game"></i></a>
        <a href="/highscore"><i class="fa fa-trophy fa-lg" aria-hidden="true" alt="trophy icon, check high scores"></i></a>
    </div>
  </div>
</div>
  <script>
    (function() {
        document.addEventListener("mousemove", parallax);
        const elem = document.querySelector("#parallax");
        function parallax(e) {
          let _w = window.innerWidth/2; // innerWidth returns the width of the window's visual viewport / 2, division ensures we won't go out of bounds.
          let _h = window.innerHeight/2; // innerHeight does the same but returns height / 2
          let _mouseX = e.clientX; // mouseEventX provides X/horizontal coordinate
          let _mouseY = e.clientY; // mouseEventY provides Y/horizontal coordinate
          let _depth = `${35 - (_mouseX - _w) * 0.05}% ${20 - (_mouseY - _h) * 0.05}%`;
          let x = `${_depth}`;
          elem.style.backgroundPosition = x;
        }
      })
    ();
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/signup.js"></script> 