#groguQuest{
    position: relative;
    top: 15vh;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    display: block;
}

canvas{
    border-radius: 10px; 

}


.playAgain{
position: relative;
margin-top: 20vh;
/* margin-right: auto;
margin-left: auto; */
display: block;
}

/* game2.handlebars style */
#game2 {
    position: relative;
    top: 15vh;
    margin-right: auto;
    margin-left: auto;
    display: block;

}

  /* .game2Header,
  .game2Controls {
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
  }
   */