form.signup,
form.login {
  margin-top: 50px;
}
body {
  margin: 0;
  background-color: #0e1318;
}
canvas{
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 0;
}
.nav{
  position: absolute;
  top: 70%;
}

/* 
#0e1318
#ee1f67 
#f7b71d
#19b5b8
*/