<li>
	{{!-- <div class="row"> --}}
		<div class="col-3">{{userName}}</div>
        <div class="col-3">{{score}}</div>
		<img src="/assets/tmp/{{image}}" alt="">
	{{!-- </div> --}}
</li>

<script>
    console.log("hello")
</script>